<!-- Rodape -->
<footer>
    <div class="container_footer">
        <div class="footer_conteudo">
            <div class="footer_container_contato">
                <div class="footer_logo">
                    <a [routerLink]="['/home']" fragment="inicio"><img src="img/logo/logo_branco_2.png" alt="Logo Cuidado Conectado"></a>
                </div>
                <div class="footer_contato">
                </div>
                <div class="footer_redesocial">
                    <div class="footer_redesocial_icon">
                        <a href="https://www.facebook.com/" target="_blank"><img src="icons/rodape/facebook.svg" alt="Icone facebook"></a>
                    </div>
        
                    <div class="footer_redesocial_icon">
                        <a href="https://www.instagram.com/" target="_blank"><img src="icons/rodape/instagram.svg" alt="Icone Instagram"></a>
                    </div>
        
                    <div class="footer_redesocial_icon">
                        <a href="https://www.linkedin.com/" target="_blank"><img src="icons/rodape/linkedin.svg" alt="Icone linkedin"></a>
                    </div>
        
                    <div class="footer_redesocial_icon">
                        <a href="https://x.com/" target="_blank"><img src="icons/rodape/twitter-x.svg" alt="Icone Twitter - X"></a>
                    </div>
                </div>
            </div>
            <div class="footer_links">
                <p>
                    <strong>
                        Cuidado Conectado
                    </strong>
                </p>
                <a [routerLink]="['/about']" fragment="historia">História</a>
                <a [routerLink]="['/about']" fragment="historia">Sobre Nós</a>
                <a [routerLink]="['/about']" fragment="historia">Gestão do Cuidado</a>
                <a [routerLink]="['/about']" fragment="historia">Rotinas em Tempo Real</a>
            </div>
            <div class="footer_links">
                <p>
                    <strong>
                        Plataforma & Soluções
                    </strong>
                </p>
                <a [routerLink]="['/about']" fragment="solucoes">Painel Intuitivo</a>
                <a [routerLink]="['/about']" fragment="solucoes">Gestão de Escalas</a>
                <a [routerLink]="['/about']" fragment="solucoes">Registro Rápidos</a>
                <a [routerLink]="['/about']" fragment="solucoes">Relatórios Essenciais</a>
            </div>
            <div class="footer_links">
                <p>
                    <strong>
                        Suporte & LGPD
                    </strong>
                </p>
                <a [routerLink]="['/about']" fragment="lgpd">Suporte Especializado</a>
                <a [routerLink]="['/about']" fragment="lgpd">Dados Protegidos</a>
                <a [routerLink]="['/about']" fragment="lgpd">Acesso Seguro</a>
                <a [routerLink]="['/about']" fragment="lgpd">Privacidade Garantida</a>
            </div>
            <div class="footer_copy">
                <p>&copy; 2025 Cuidado Conectado. Todos os Direitos Reservados.</p>
            </div>
        </div>
    </div>
</footer>